<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- <button @click="loadTodos">Lad mal daten</button> -->
      <input type="text" v-model="newTodo" /><button @click="createNewTodo()">
        Add Todo
      </button>
      <ul>
        <li v-for="todo in todos">
          <input type="checkbox" name="" id="" v-model="todo.done" />
          {{ todo.description }}
        </li>
      </ul>
      <pre>
        {{ newTodo }}
      </pre>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
