* {
  box-sizing: border-box;
}

html,
body {
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  background-color: hotpink;
}

main {
  background-color: brown;
}
